@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

input[type="text"] {
  @apply rounded-lg border px-3 py-2 ring-blue-400 transition-all  hover:border-blue-300  focus:border-blue-500 focus:ring-1;
}

label {
  @apply mb-2 text-sm font-medium text-gray-700 capitalize;
}

button {
  @apply cursor-pointer rounded-lg px-3 py-2 bg-white hover:opacity-80 transition-all text-sm;
}

button.btn-primary {
  @apply bg-blue-500 text-white focus:border-blue-500 hover:text-white shadow-md shadow-blue-600/30;
}
button.btn-secondary {
  @apply text-blue-500 ring-1 hover:bg-blue-50 focus:border-gray-500;
}
button.btn-cancel {
  @apply text-red-500 ring-1 ring-red-400 hover:bg-red-50 focus:border-red-500;
}
button.btn {
  @apply ring-1 ring-slate-200 hover:ring-blue-300 hover:text-blue-600;
}

.fade-enter-active {
  transition: all 0.1s ease-out;
}

.fade-leave-active {
  transition: all 0.1s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
